body {
    background: url("../img/resim4.jpg") center/cover no-repeat;
}
div {
    background-color:bisque;
    width: 200px;
}
h1, h2, h3 {
    text-align: center;
    background-color: aliceblue;
}
.gunler {
    background-color:rgb(173, 158, 158)
}
.mevsimler {
    background-color:beige;
}