body {
  font-family: "Sansita Swashed", cursive;
  background: url("../img/pattern2.jpg") center/cover no-repeat;
}
.icerik {
  background: url("../img/pattern3.jpg") center/cover no-repeat;
  margin-top: 100px;
  padding: 50px 50px 50px 50px;
}
h1,
p {
  text-align: center;
}
