img {
    width: 35vh;
    height: 35vh;
    border: 1px solid red;
    border-radius: 15px;
}
.deneme {
    text-align: center;
    background-color: rgb(90, 119, 90);
    border-radius: 15px;
}
h1 {
    padding-top: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.underline {
    height: 3px;
    width: 150px;
    background-color: pink;
    margin: 0px auto 20px;
    border-radius: 15px;
}
.icerik {
    border-radius: 25px;
    background-color: rgb(235, 205, 150);
    border: 5px solid black;
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
}
h2 {
    text-align: center;
}
.bilgi {
    text-align: center;

}