body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav.menu {
    text-align: center;
    background-color:rgb(146, 145, 145);
    width: 200px;
}

.aktive {
    background-color: rgb(77, 75, 75);
    color: white;
}

a.link {
    color: black;
    text-decoration: none;
}