nav.menu {
    background-color: rgb(226, 156, 26);
}


nav.menu ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav.menu li {
    display: inline-block;
    padding: 1rem;
}

nav.menu li::after {
    padding: 1rem;
    content: "|";
 }

 nav.menu li:last-child::after {
    content: "";
 }

 nav.menu ul::before {
     content: "<";
     padding: 1rem;
 }

 nav.menu ul::after {
    content: ">";
}

nav.menu ul a {
    padding: 0;
    list-style: none;
    text-align: center;
    text-decoration: none;
}
nav.menu ul a:hover {
    background-color: red;
    color: antiquewhite
}